<?xml version="1.0"?>
<launch>



<!--   
  <include file="$(find moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include> -->

<!--   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/> -->
  
  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
<!--   <include file="$(find moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include> -->

<!--   <node name="arm_interface" pkg="arm_interface" type="ArmMain" respawn="false" output="screen"/> -->

<node pkg="arm_interface" name="arm_interface" type="arm_interface" output="screen"/>


</launch>